footer {
    background: $main-blue;
    padding-top: 0;
    padding-bottom: 0;
    .col-md-6 {
        padding: 0;
        margin-bottom: 50px;
    }
    .image-slider{
        height: 800px;
    }
    text-align: left;
    .section-heading {
        margin: 40px 0;
        h2 {
            font-size: 4rem !important;
        }
    }
    .contact {
        margin: 15px;
        a i {
            font-size: 1.7rem;
            border: 2px solid #fff;
            margin: 0 15px 0 0;
            @include border-radius(50%);
            padding: 8px;
            &:before {
                height: 18px;
                width: 18px;
                display: block;
            }
            &.fa-envelope-o:before {
                padding-left: 1px;
            }
            &.fa-phone:before {
                padding-left: 3px;
                padding-top: 2px;
            }
            &.fa-map-marker:before {
                padding-left: 5px;
                padding-top: 1px;
            }
            @include transition();
            &:hover {
                background-color: rgba(white, 0.1);
            }
        }
        &.address p {
            margin: -6px 0 8px 57px;
        }
        &.secretary {
            font-size: 2rem;
            color: white;
            h4 {
                font-size: 1.7rem;
                font-weight: normal;
                padding-bottom: 15px;
            }
        }
    }
    .low-footer {
        background-color: darken($main-blue, 2%);
        a {
            margin-right: 20px;
            line-height: 100px;
            img {
                width: 100px;
                &[src*=capitalweb] {
                    width: auto;
                    height: 85px;
                }
            }
        }
    }
}

@media (min-width: $screen-xs + 1) {
    footer .contact {
        @include calc(margin-left, "50% - 180px");
        a, p, span {
            font-size: 2rem;
        }
    }
}

@media (min-width: $screen-md + 1) and (max-width: $screen-lg) {
    footer {
        .contact {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        .section-heading {
            margin: 25px 0;
        }
    }
}
