<footer id="contact" class="container-fluid blue">
    <div class="row">
        <div class="col-md-12">
            <div class="section-heading inverse scrollpoint sp-effect3">
                <h2>Contact</h2>
                <div class="divider"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact secretary">
                <h3>{{ site.data.person.name }}</h3>
                <h4>{{ site.data..person.profesional_title }}</h4>
            </div>
            <div class="contact mail">
                <a href="mailto:{{ site.data.person.email }}" class="scrollpoint sp-effect4">
                    <i class="fa fa-envelope-o"></i>{{ site.data.person.email }}
                </a>
            </div>
            <div class="contact phone">
                <a href="tel:{{ site.data.person.phone.raw }}" class="scrollpoint sp-effect4">
                    <i class="fa fa-phone"></i>{{ site.data.person.phone.formatted }}
                </a>
            </div>
            <div class="contact address hidden-xs">
                <a href="{{ site.data.person.address.google_maps_url }}" target="_blank" class="scrollpoint sp-effect4">
                    <i class="fa fa-map-marker"></i>
                        <span>
                            {{site.data.person.address.street_address}},&nbspbureau&nbsp{{site.data.person.address.office}}
                        </span>
                    <p class="scrollpoint sp-effect4">
                        {{site.data.person.address.city}} {{site.data.person.address.postal_code}}
                    </p>
                </a>
            </div>
            <div class="contact address visible-xs">
                <a href="{{ site.data.person.address.google_maps_url }}" target="_blank" class="scrollpoint sp-effect4">
                    <i class="fa fa-map-marker"></i>
                    <span>
                        {{site.data.person.address.street_address}},
                    </span>
                    <p class="scrollpoint sp-effect4">
                        bureau&nbsp{{site.data.person.address.office}}
                    </p>
                    <p class="scrollpoint sp-effect4">
                        {{site.data.person.address.city}} {{site.data.person.address.postal_code}}
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact secretary">
                <h3>Angélique Tétrault</h3>
                <h4>Planificatrice financière</h4>
            </div>
            <div class="contact mail">
                <a href="mailto:{{ site.data.person.email }}" class="scrollpoint sp-effect4">
                    <i class="fa fa-envelope-o"></i>a.tetrault@regar.net
                </a>
            </div>
            <div class="contact phone">
                <a href="tel:{{ site.data.person.phone.raw }}" class="scrollpoint sp-effect4">
                    <i class="fa fa-phone"></i>{{ site.data.person.phone.formatted }}
                </a>
            </div>
            <div class="contact address hidden-xs">
                <a href="{{ site.data.person.address.google_maps_url }}" target="_blank" class="scrollpoint sp-effect4">
                    <i class="fa fa-map-marker"></i>
                        <span>
                            {{site.data.person.address.street_address}},&nbspbureau&nbsp{{site.data.person.address.office}}
                        </span>
                    <p class="scrollpoint sp-effect4">
                        {{site.data.person.address.city}} {{site.data.person.address.postal_code}}
                    </p>
                </a>
            </div>
            <div class="contact address visible-xs">
                <a href="{{ site.data.person.address.google_maps_url }}" target="_blank" class="scrollpoint sp-effect4">
                    <i class="fa fa-map-marker"></i>
                    <span>
                        {{site.data.person.address.street_address}},
                    </span>
                    <p class="scrollpoint sp-effect4">
                        bureau&nbsp{{site.data.person.address.office}}
                    </p>
                    <p class="scrollpoint sp-effect4">
                        {{site.data.person.address.city}} {{site.data.person.address.postal_code}}
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="row low-footer">
    {% for institution in site.data.institutions %}
        <a class="pull-right" href="{{institution.website}}" target="_blank">
            <img width="100" src="{{institution.logo_url}}">
        </a>
    {% endfor %}
    <a href="" target="_blank">
        <img src="assets/images/capitalweb.png">
    </a>
    </div>
</footer>