section#features {
    .media {
        margin: 0 0 25px 0;
        .media-body h4 {
            color: $main-blue;
        }
        div.number {
            border: 2px solid $main-blue;
            color: #fff;
            background: $main-blue;
            @include border-radius(50%);
            width: 2.6em;
            height: 2.6em;
            line-height: 2.4em;
            font-size: 28px;
            text-align: center;
        }
        &.feature {
            min-height: 85px;
        }
    }
    h3 {
        color: $main-blue;
        &:hover {
            color: $main-blue;
        }
    }
}

@media (max-width: $screen-sm) {
    section#features {
        h3 {
            text-align: center;
            font-size: 3rem;
        }
        .row .col-sm-5:last-child {
            margin-top: 100px;
        }
    }
}