section#independent-consultant {
    background-color: white;
    h3 {
        font-size: 3.5rem;
    }
    .section-heading h3 {
        margin-top:50px;
    }
    .recommendation-item {
        i.fa, i.glyphicon {
            border: none;
            background: $main-blue;
            color: #fff;
            padding: 35px;
            @include border-radius(50%);
            @include transition($timing-function:ease-in-out);
            width: 104px;
            padding: 35px;
        }
        h4 {
            color: $main-blue;
        }
        i.glyphicon{
            font-family: 'Glyphicons Halflings';
        }
        &:hover {
            i.fa, i.glyphicon {
                background: $main-blue;
            }
        }
        margin-bottom: 50px;
    }
}
